body {
	height: calc(100% - 50px);
	overflow-y: auto;
	background-image: url('gplaypattern_@2X.png');
	background-repeat: repeat;
	overscroll-behavior-y: none;
}

.main-container {
	background-color: rgba(48, 72, 122, 0.5);
	min-height: calc(100vh - 50px);
	overflow-y: auto;
	padding: 2.5em;
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.disabled {
	opacity: 0.5;
	pointer-events: none;
}

.project-tag {
	color: white !important;
	text-shadow: 1px 1px 1px black;
}

.default-bg,
.segment {
	background-color: rgba(255, 255, 255, 0.4) !important;
}

.markdown-container {
	margin: 0 0 3em 3em;
	max-height: 70vh;
	max-width: 38vw;
	overflow-y: auto;
}

.fullscreen.modal {
	overflow-x: hidden;
}

.no-scroll {
	overflow-y: hidden;
}

.profile {
	height: calc(100vh - 50px - 3em);
	overflow: hidden;
}

a {
	text-decoration: none;
	color: black;
}
