body {
	overflow: hidden;
	background-image: url('gplaypattern_@2X.png');
}

.App {
	overflow: hidden;
}

.main-container {
	background-color: rgba(48, 72, 122, 0.5);
	height: 100%;
	padding: 2.5em;
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.disabled {
	opacity: 0.5;
	pointer-events: none;
}
