.project-form-container {
	min-width: 60%;
}

.project-form-image,
.project-form-details,
.tags {
	padding-top: 1em;
}

.project-form-buttons {
	float: right;
}

.image-preview {
	width: 200px;
	height: 200px;
	background-position: center !important;
	background-size: cover !important;
	box-shadow: 1px 1px 1px black;
}

.image-preview-container {
	position: relative;
	top: -2em;
	background-color: #fff;
	box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.05);
	position: relative;
	border-radius: 10px;
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.image-preview .button {
	position: relative;
	left: 90%;
	top: -1em;
}

.restrict-upload p,
.restrict-upload button {
	opacity: 0.5;
	pointer-events: none;
}

.markdown-body {
	background-color: white;
}
