#nav-bar {
	background-image: linear-gradient(135deg, #4e2675 0%, #201241 100%);
	color: white;
	height: 50px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 9;
}

#nav-bar p {
	line-height: 50px;
	vertical-align: middle;
	color: white;
}

.logo {
	padding: 12px;
}

.logo > img {
	height: 25px;
}

.profile-dd {
	display: flex;
	flex-direction: row;
}

.profile-dd span {
	color: white;
	vertical-align: middle;
	line-height: 40px;
	margin: 0 0.5em 0 0.5em;
}

.profile-dd img {
	border-radius: 50%;
	height: 40px;
}
