.project-filter {
	flex: 1;
}

.project-list {
	flex: 5;
}

.project-item {
	margin: 0 0 0.5em 0 !important;
	height: 250px;
}

.project-tag {
	color: white !important;
	text-shadow: 1px 1px 1px black;
}
