.project-item {
	margin: 0 0 0.5em 0 !important;
	background-color: rgba(255, 255, 255, 0.4) !important;
	padding: 1em !important;
	width: 100%;
}

.project-item:hover {
	cursor: pointer;
}

.project-item .description {
	overflow: hidden;
	max-height: calc(230px - 2em);
}

.project-item .image {
	height: 150px !important;
	display: flex !important;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
}

.project-filter {
	z-index: 5;
	width: inherit;
	padding-right: 3em !important;
	position: fixed;
}

.markdown-container {
	width: 90%;
	margin: 0 0 3em 3em;
	max-height: 70vh;
	overflow-y: auto;
}

@media only screen and (max-width: 991px) {
	.project-filter {
		padding-right: 5.5em !important;
	}
}
