.project-filter {
	flex: 1;
}

.project-list {
	flex: 4;
}

.project-item {
	margin: 0 0 0.5em 0 !important;
	background-color: rgba(255, 255, 255, 0.5) !important;
	padding: 1em !important;
}

.project-item:hover {
	cursor: pointer;
}

.project-item .description {
	overflow: hidden;
	max-height: calc(230px - 2em);
}

.project-item .project-tag {
	color: white !important;
	text-shadow: 1px 1px 1px black;
}
